body{
    background-color: #FFE2C4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.overall{
    background-color: #FFF6EB 	;
    margin: 15px;
    margin-bottom: 20px;
    margin-top: -30px;
}
h2{
     color: #4B2E2E;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 75px;
}
input[type="date"]{
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: 10px;
    margin-left: 20px; 
    
}
.daaate{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -85px;
    font-size: 30px;
    color:  #B4745E;
}
.dest{
   display: flex;
   flex-direction: column;
   gap: 6px;
   width: 250px;
   margin-left: 20px;
    font-size: 45px;
    color:  #B4745E;
}
input[type="text"]{
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 15px;
    
}
.row-flex {
  display: flex;
  gap: 700px; 
  align-items: flex-start;
}

.dest, .transp {
  display: flex;
  flex-direction: column;
}
.transp{
    font-size: 45px;
    margin-top: 30px;
    color:  #B4745E;
    width: 250px;
}
select[name="transp"]{
 border: none;
    outline: none;
    background-color: transparent;
    margin-top: 20px;
    margin-left: 20px;
}
.dest,.todo{
    width: 100%;
   max-width: 400px;
}
.todo{
   display: flex;
   flex-direction: column;
   gap: 6px;
   width: 100%;
   max-width: 400px;
   margin-left: 20px;
    font-size: 45px;
    margin-top: -20px;
    color:  #B4745E;
}
.todo ul {
  margin-top: -10px;
  margin-bottom: 0;
  margin-left: 40px;
}
.tobuy ul{
 margin-top: -40px;
  margin-bottom: 0;
  margin-left: 40px;   
}
.container {
  display: flex;
  gap: 40px;
  padding: 20px;
  align-items: flex-start;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.right{
    margin-right:50px;
}
.tobuy{
    margin-top: 40px;
    font-size: 45px;
    color:  #B4745E;
}
.bud{
    font-size: 45px;
    margin-top: -10px;
    color:  #B4745E;
}
.tobuy ul {
  margin-top: 10px;
  margin-bottom: 0;
}
input[type="number"]{
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}
.ED{
    font-size: 45px;
    margin-top: -70px;
    color:  #B4745E;
}
.container{
    margin-top: -50px;
}
.right{
        margin-top: -50px;
}
.middle{
    margin-top: -55px;
}
input[type="text"],
input[type="date"],
input[type="number"],
select[name="transp"] {
    color: #4B2E2E;
    font-size: 15px;
}

input::placeholder,
select::placeholder {
    color: #B4745E; 
    opacity: 0.8; 
}
textarea{
    border: none;
    outline: none;
    background-color: transparent;
}
.buy-but{
    background-color: #F4AC64;
    border: none;
    padding: 5px;
    color:#4B2E2E;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.buy-but:hover{
    background-color: #FFA45B;
}
.do-but{
    background-color: #F4AC64;
    border: none;
    padding: 5px;
    color:#4B2E2E;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
     border-radius: 5px;
}
.do-but:hover{
    background-color: #FFA45B;
}
.li{
background-color:transparent;
border: none;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 16px;
padding: 15px;
color: #B4745E;
}
.buy-li{
background-color:transparent;
border: none;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 16px;
padding: 15px;
color: #B4745E;
}
.down{
background-color: #F4AC64;
    border: none;
    padding: 5px;
    color:#4B2E2E;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
     border-radius: 5px;  
    margin: 10px;
}











